* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}
.wrapper {
  position: absolute;
  width: 110vw;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("background.jpg");
  /* background-size: 100% auto; */
  background-repeat: no-repeat;
}
.card {
  position: relative;
  width: 450px;
  height: 250px;
  padding: 10px 15px 15px 10px;
  margin-top: 50px;
  border-radius: 2px;
  background: url("card.jpg");
  background-size: cover;
  box-shadow: 0px -10px 10px rgba(168, 156, 49, 0.2),
    /* bottom shdow */ 0px 10px 20px rgba(168, 156, 49, 0.4),
    /* left shdow */ -10px 0px 20px rgba(168, 156, 49, 0.4),
    /* right shdow */ 10px 0px 20px rgba(168, 156, 49, 0.4),
    /* inner shdow */ inset 1px 1px 20px rgba(168, 156, 49, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.5s;
}
.logo {
  width: 120px;
  height: 120px;
  background: url("black.jpg");
  background-size: cover;
  mask: url("logo.png");
  -webkit-mask: url("logo.png");
}
.card-text {
  font-size: 26px;
  letter-spacing: 2px;
  word-spacing: 2px;
  padding-top: 20px;
  color: transparent;
  background: url("black.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: -1px -1px 1px rgba(168, 156, 49, 0.1);
}
.card.back .left {
  position: absolute;
  left: 30px;
  top: 25px;
  color: transparent;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(168, 156, 49, 0.2);
}
.name-text {
  font-size: 32px;
  font-weight: 500;
  word-spacing: 8px;
  background: url("violet.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
}
.role-text {
  font-size: 18px;
  background: url("black.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
}
.card.back .right {
  position: absolute;
  width: 200px;
  right: 10px;
  bottom: 20px;
  color: transparent;
  font-weight: 700;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(168, 156, 49, 0.2);
  background: url("violet.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
}
.card.front {
  transform: rotateZ(-7deg);
  left: -15%;
  margin-bottom: 25px;
}

.card.back {
  transform: rotateZ(4deg);
  left: 5%;
  top: -2%;
}
.card:hover {
  transform: scale(1.07);
}
.light {
  position: absolute;
  width: 110vw;
  height: 110vh;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0) 60%
  );
  opacity: 0.4;
  z-index: 9;
  pointer-events: none;
}
